In [1]:
# Importacao das bibliotecas para manipulacao do Dataframe

import pandas as pd

In [2]:
# leitura do arquivo

file = pd.read_csv('top_movies.csv')

In [3]:
# Transformacao e visualizacao previa do df

df = pd.DataFrame(file)
df.head(14)

,Unnamed: 0,title,year,synopsis,critic_score,people_score,consensus,total_reviews,total_ratings,type,...,release_date_(theaters),release_date_(streaming),box_office_(gross_usa),runtime,production_co,sound_mix,aspect_ratio,view_the_collection,crew,link
0,0,Black Panther,2018,"After the death of his father, T'Challa return...",96,79.0,Black Panther elevates superhero cinema to thr...,519,"50,000+",Action & Adventure,...,"Feb 16, 2018 wide","May 2, 2018",$700.2M,2h 14m,Walt Disney Pictures,"DTS, Dolby Atmos",Scope (2.35:1),Marvel Cinematic Universe,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",http://www.rottentomatoes.com/m/black_panther_...
1,1,Avengers: Endgame,2019,"Adrift in space with no food or water, Tony St...",94,90.0,"Exciting, entertaining, and emotionally impact...",538,"50,000+",Action & Adventure,...,"Apr 26, 2019 wide","Jul 30, 2019",$858.4M,3h 1m,"Marvel Studios, Walt Disney Pictures","Dolby Atmos, DTS, Dolby Digital, SDDS",Scope (2.35:1),Marvel Cinematic Universe,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",http://www.rottentomatoes.com/m/avengers_endgame
2,2,Mission: Impossible -- Fallout,2018,Ethan Hunt and the IMF team join forces with C...,97,88.0,"Fast, sleek, and fun, Mission: Impossible - Fa...",433,"10,000+",Action & Adventure,...,"Jul 27, 2018 wide","Nov 20, 2018",$220.1M,2h 27m,"Bad Robot, Tom Cruise","DTS, Dolby Atmos, Dolby Digital",Scope (2.35:1),NaN,"Tom Cruise, Henry Cavill, Ving Rhames, Simon P...",http://www.rottentomatoes.com/m/mission_imposs...
3,3,Mad Max: Fury Road,2015,"Years after the collapse of civilization, the ...",97,86.0,With exhilarating action and a surprising amou...,427,"100,000+",Action & Adventure,...,"May 15, 2015 wide","Aug 10, 2016",$153.6M,2h,"Kennedy Miller Mitchell, Village Roadshow Pict...",Dolby Atmos,Scope (2.35:1),NaN,"Tom Hardy, Charlize Theron, Nicholas Hoult, Hu...",http://www.rottentomatoes.com/m/mad_max_fury_road
4,4,Spider-Man: Into the Spider-Verse,2018,"Bitten by a radioactive spider in the subway, ...",97,93.0,Spider-Man: Into the Spider-Verse matches bold...,387,"10,000+",Action & Adventure,...,"Dec 14, 2018 wide","Mar 7, 2019",$190.2M,1h 57m,"Lord Miller, Sony Pictures Animation, Pascal P...","Dolby Atmos, DTS, Dolby Digital, SDDS",Scope (2.35:1),NaN,"Shameik Moore, Hailee Steinfeld, Mahershala Al...",http://www.rottentomatoes.com/m/spider_man_int...
5,5,Wonder Woman,2017,"Before she was Wonder Woman (Gal Gadot), she w...",93,83.0,"Thrilling, earnest, and buoyed by Gal Gadot's ...",463,"100,000+",Action & Adventure,...,"Jun 2, 2017 wide","Jul 10, 2017",$412.8M,2h 21m,"Atlas Entertainment, Cruel and Unusual","SDDS, Dolby Atmos, DTS",Scope (2.35:1),DC Extended Universe,"Gal Gadot, Chris Pine, Connie Nielsen, Robin W...",http://www.rottentomatoes.com/m/wonder_woman_2017
6,6,Dunkirk,2017,"In May 1940, Germany advanced into France, tra...",92,81.0,Dunkirk serves up emotionally satisfying spect...,458,"50,000+",Action & Adventure,...,"Jul 21, 2017 wide","Dec 12, 2017",$188.0M,1h 47m,"Warner Bros. Pictures, IMAX Corporation","Dolby Digital, Datasat, Dolby Atmos",Scope (2.35:1),NaN,"Fionn Whitehead, Tom Glynn-Carney, Jack Lowden...",http://www.rottentomatoes.com/m/dunkirk_2017
7,7,Coco,2017,Despite his family's generations-old ban on mu...,97,94.0,Coco's rich visual pleasures are matched by a ...,347,"25,000+",Action & Adventure,...,"Nov 22, 2017 wide","Feb 13, 2018",$210.5M,1h 49m,Pixar Animation Studios,Dolby Atmos,Scope (2.35:1),Pixar,"Anthony Gonzalez, Benjamin Bratt, Alanna Ubach...",http://www.rottentomatoes.com/m/coco_2017
8,8,Thor: Ragnarok,2017,"Imprisoned on the other side of the universe, ...",93,87.0,"Exciting, funny, and above all fun, Thor: Ragn...",430,"50,000+",Action & Adventure,...,"Nov 3, 2017 wide","Feb 17, 2018",$315.0M,2h 10m,Marvel Studios,Dolby Atmos,Scope (2.35:1),Marvel Cinematic Universe,"Chris Hemsworth, Tom Hiddleston, Cate Blanchet...",http://www.rottentomatoes.com/m/thor_ragnarok_...
9,9,Logan,2017,"In the near future, a weary Logan (Hugh Jackma...",93,90.0,Hugh Jackman makes the most of his final outin...,418,"50,000+",Action & Adventure,...,"Mar 3, 2017 wide","May 16, 2017",$226.3M,2h 17m,"Marvel Entertainment, 20th Century Fox, Hutch ...",Dolby Atmos,Scope (2.35:1),X-Men,"Hugh Jackman, Patrick Stewart, Dafne Keen, Ric...",http://www.rottentomatoes.com/m/logan_2017
10,10,Star Wars: The Last Jedi,2017,Luke Skywalker's peaceful and solitary existen...,90,42.0,Star Wars: The Last Jedi honors the saga's ric...,476,"100,000+",Action & Adventure,...,"Dec 15, 2017 wide","Mar 11, 2018",$620.2M,2h 32m,Lucasfilm Ltd.,"DTS, Dolby Digital, Dolby Atmos",Scope (2.35:1),Star Wars Saga,"Mark Hamill, Carrie Fisher, Adam Driver, Daisy...",http://www.rottentomatoes.com/m/star_wars_the_...
11,11,Star Wars: The Force Awakens,2015,Thirty years after the defeat of the Galactic ...,93,86.0,Packed with action and populated by both famil...,440,"100,000+",Action & Adventure,...,"Dec 18, 2015 wide","Apr 1, 2016",$123,2h 16m,"Lucasfilm Ltd., Bad Robot","Dolby Digital, Dolby Atmos",Scope (2.35:1),Star Wars Saga,"Harrison Ford, Mark Hamill, Carrie Fisher, Ada...",http://www.rottentomatoes.com/m/star_wars_epis...
12,12,The Adventures of Robin Hood,1938,"When King Richard the Lionheart is captured, h...",100,89.0,Errol Flynn thrills as the legendary title cha...,48,"25,000+",Action & Adventure,...,"Feb 11, 1938 wide","Jan 23, 2014",NaN,1h 42m,"Warner Brothers, First National Pictures",Mono,Flat (1.37:1),NaN,"Errol Flynn, Olivia de Havilland, Basil Rathbo...",http://www.rottentomatoes.com/m/1000355-advent...
13,13,King Kong,1933,Actress Ann Darrow (Fay Wray) and director Car...,98,86.0,King Kong explores the soul of a monster -- ma...,65,"50,000+",Action & Adventure,...,NaN,"Nov 28, 2008",NaN,1h 40m,RKO Radio Pictures Inc.,NaN,NaN,NaN,"Fay Wray, Bruce Cabot, Robert Armstrong, Frank...",http://www.rottentomatoes.com/m/1011615-king_kong

In [4]:
# Visao geral dos dados do arquivo

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610 entries, 0 to 1609
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1610 non-null   int64
 1   title                     1610 non-null   object
 2   year                      1610 non-null   int64
 3   synopsis                  1602 non-null   object
 4   critic_score              1610 non-null   int64
 5   people_score              1609 non-null   float64
 6   consensus                 1593 non-null   object
 7   total_reviews             1610 non-null   int64
 8   total_ratings             1610 non-null   object
 9   type                      1610 non-null   object
 10  rating                    1139 non-null   object
 11  genre                     1603 non-null   object
 12  original_language         1570 non-null   object
 13  director                  1609 non-null   object
 14  producer                  1490 non-null   object
 15  writer                    1266 non-null   object
 16  release_date_(theaters)   1103 non-null   object
 17  release_date_(streaming)  1595 non-null   object
 18  box_office_(gross_usa)    1102 non-null   object
 19  runtime                   1603 non-null   object
 20  production_co             1487 non-null   object
 21  sound_mix                 925 non-null    object
 22  aspect_ratio              664 non-null    object
 23  view_the_collection       178 non-null    object
 24  crew                      1610 non-null   object
 25  link                      1610 non-null   object
dtypes: float64(1), int64(4), object(21)
memory usage: 327.2+ KB

In [5]:
#visualizacao das colunas que possuem dados nan

df.isnull().sum()

Unnamed: 0                     0
title                          0
year                           0
synopsis                       8
critic_score                   0
people_score                   1
consensus                     17
total_reviews                  0
total_ratings                  0
type                           0
rating                       471
genre                          7
original_language             40
director                       1
producer                     120
writer                       344
release_date_(theaters)      507
release_date_(streaming)      15
box_office_(gross_usa)       508
runtime                        7
production_co                123
sound_mix                    685
aspect_ratio                 946
view_the_collection         1432
crew                           0
link                           0
dtype: int64

In [6]:
# Importacao das colunas que serao utilizadas na manipulacao, exclusao de valores nulos e atribuicao a um sub df filtrado

df_ft = df[['year','title', 'box_office_(gross_usa)', 'genre', 'people_score']].dropna()

In [15]:
# Sub data frame criado

df_ft.head(20)

,year,title,box_office_(gross_usa),genre,people_score
0,2018,Black Panther,$700.2M,"adventure, action, fantasy",79.0
1,2019,Avengers: Endgame,$858.4M,"sci fi, adventure, action, fantasy",90.0
2,2018,Mission: Impossible -- Fallout,$220.1M,"action, mystery and thriller, adventure",88.0
3,2015,Mad Max: Fury Road,$153.6M,"adventure, action",86.0
4,2018,Spider-Man: Into the Spider-Verse,$190.2M,"action, adventure, fantasy, comedy, kids and f...",93.0
5,2017,Wonder Woman,$412.8M,"adventure, fantasy, action",83.0
6,2017,Dunkirk,$188.0M,"drama, history, war",81.0
7,2017,Coco,$210.5M,"comedy, music, animation, kids and family, adv...",94.0
8,2017,Thor: Ragnarok,$315.0M,"comedy, fantasy, sci fi, action, adventure",87.0
9,2017,Logan,$226.3M,"adventure, action, fantasy",90.0
10,2017,Star Wars: The Last Jedi,$620.2M,"action, sci fi, adventure, fantasy",42.0
11,2015,Star Wars: The Force Awakens,$123,"action, sci fi, adventure, fantasy",86.0
14,2019,Spider-Man: Far From Home,$390.7M,"action, comedy, fantasy, adventure",95.0
15,2018,Incredibles 2,$608.6M,"comedy, animation, action, kids and family, ad...",84.0
17,2017,War for the Planet of the Apes,$146.8M,"sci fi, adventure, action",84.0
18,2017,Spider-Man: Homecoming,$334.4M,"adventure, fantasy, action, comedy",87.0
19,2017,Baby Driver,$107.8M,"mystery and thriller, action",86.0
20,1954,Seven Samurai,$271.7K,action,97.0
21,1927,Metropolis,$1.2M,"drama, sci fi",92.0
22,1975,Jaws,$260.9M,"mystery and thriller, adventure, horror",90.0

In [20]:
# Slicing da coluna box_office separando o cifrao e multiplicadores dos numeros e transformando em float

df_ft['box_office_(gross_usa)'] = df_ft['box_office_(gross_usa)'].apply(lambda x: str(x).replace('$', ''))

In [21]:
valor = df_ft['box_office_(gross_usa)'].apply(lambda x: str(x).strip(x[-1]) if 'M' in x 
                                              else (str(x).strip(x[-1]) if 'K' in x else x)).astype(float)

In [22]:
multiplicador = df_ft['box_office_(gross_usa)'].apply(lambda x: 1000000 if str(x)[-1] == 'M' 
                                                      else (1000 if str(x)[-1] == 'K' else x)).astype(float)

In [24]:
# Multiplicando valor pelo multiplicador que estava em string e 
# criando nova coluna com valor final da bilheteria

df_ft['Bilheteria EUA $'] = multiplicador * valor
df_ft

,year,title,box_office_(gross_usa),genre,people_score,Bilheteria EUA $
0,2018,Black Panther,700.2M,"adventure, action, fantasy",79.0,700200000.0
1,2019,Avengers: Endgame,858.4M,"sci fi, adventure, action, fantasy",90.0,858400000.0
2,2018,Mission: Impossible -- Fallout,220.1M,"action, mystery and thriller, adventure",88.0,220100000.0
3,2015,Mad Max: Fury Road,153.6M,"adventure, action",86.0,153600000.0
4,2018,Spider-Man: Into the Spider-Verse,190.2M,"action, adventure, fantasy, comedy, kids and f...",93.0,190200000.0
...,...,...,...,...,...,...
1605,2011,Priest,29.1M,"horror, action, fantasy",46.0,29100000.0
1606,2006,September Dawn,1.1M,"drama, history, western",49.0,1100000.0
1607,2001,American Outlaws,13.3M,"western, action",68.0,13300000.0
1608,2010,Jonah Hex,10.5M,"mystery and thriller, fantasy, action, western...",20.0,10500000.0
1609,2001,Texas Rangers,623.4K,"western, adventure",29.0,623400.0

In [25]:
# Exclusao da coluna fatiada e criacao df manipulavel

df_clean = df_ft.drop('box_office_(gross_usa)', axis=1).drop_duplicates()

In [26]:
#colunas data frame renomeado para PT-BR

df_clean.rename(columns={'year': 'Ano',
                        'title': 'Filme',
                        'genre': 'Gênero',
                        'people_score': 'Avaliação Popular'            
                        }, inplace=True)

In [27]:
# Top 10 bilheterias ate 2019

df_clean.sort_values('Bilheteria EUA $', ascending=False).head(10)

,Ano,Filme,Gênero,Avaliação Popular,Bilheteria EUA $
1,2019,Avengers: Endgame,"sci fi, adventure, action, fantasy",90.0,858400000.0
0,2018,Black Panther,"adventure, action, fantasy",79.0,700200000.0
40,2018,Avengers: Infinity War,"adventure, fantasy, action, sci fi",91.0,678800000.0
10,2017,Star Wars: The Last Jedi,"action, sci fi, adventure, fantasy",42.0,620200000.0
15,2018,Incredibles 2,"comedy, animation, action, kids and family, ad...",84.0,608600000.0
112,2016,Finding Dory,"kids and family, comedy, adventure, animation",84.0,486200000.0
181,2004,Shrek 2,"kids and family, comedy, fantasy, animation",69.0,436500000.0
805,1982,E.T. the Extra-Terrestrial,"kids and family, adventure, sci fi",72.0,435100000.0
100,2019,Toy Story 4,"comedy, fantasy, animation, kids and family, a...",94.0,434000000.0
78,2019,Captain Marvel,"sci fi, adventure, action, fantasy",45.0,426800000.0